
/E-Stagio/App/__pycache__
/E-Stagio/__pycache__
/E-Stagio/venv
/E-Stagio Prod/__pycache__
/E-Stagio Prod/app/__pycache__
/E-Stagio Prod/migrations/__pycache__
/E-Stagio Prod/migrations/versions/__pycache__
