{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form action="{{ url_for_security('login') }}" method="POST">
    {{ login_user_form.hidden_tag() }}
    <p>
        {{ login_user_form.email.label }}<br>
        {{ login_user_form.email(size=32) }}
    </p>
    <p>
        {{ login_user_form.password.label }}<br>
        {{ login_user_form.password(size=32) }}
    </p>
    <p>{{ login_user_form.remember.label }} {{ login_user_form.remember }}</p>
    <p><input type="submit" value="Login"></p>
</form>
<p><a href="{{ url_for_security('forgot_password') }}">Esqueceu a senha?</a></p>
{% endblock %}
