{% extends "base.html" %}
{% block content %}
<h2>Redefinir Senha</h2>
<form action="{{ url_for_security('reset_password', token=token) }}" method="POST">
    {{ reset_password_form.hidden_tag() }}
    <p>
        {{ reset_password_form.password.label }}<br>
        {{ reset_password_form.password(size=32) }}
    </p>
    <p>
        {{ reset_password_form.password_confirm.label }}<br>
        {{ reset_password_form.password_confirm(size=32) }}
    </p>
    <p><input type="submit" value="Redefinir Senha"></p>
</form>
{% endblock %}
