<!-- templates/aluno/cadastro_estagio.html -->
{% extends "base_aluno.html" %}
{% block content %}
<div class="container mb-5">
    <h2 class="mb-4 text-center">
        {% if form and form.professor_id %}
        Meu Estágio
        {% else %}
        Cadastrar Estágio
        {% endif %}
    </h2>
    <form method="POST" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <div class="form-group mb-4">
            <label class="form-label">Aluno</label>
            <input type="text" class="form-control" value="{{ aluno.nome }}" readonly>
        </div>

        <div class="row g-4">
            <div class="col-md-6 mb-3">
                {{ form.professor_id.label(class="form-label") }}
                {{ form.professor_id(class="form-control" + (" is-invalid" if form.professor_id.errors else "")) }}
                {% for error in form.professor_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.empresa_id.label(class="form-label") }}
                {{ form.empresa_id(class="form-control", id="empresa_id") }}
                {% if form.empresa_id.errors %}
                {% for error in form.empresa_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.supervisor_id.label(class="form-label") }}
                {{ form.supervisor_id(class="form-control", id="supervisor_id") }}
                {% if form.supervisor_id.errors %}
                {% for error in form.supervisor_id.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.modalidade.label(class="form-label") }}
                {{ form.modalidade(class="form-control" + (" is-invalid" if form.modalidade.errors else "")) }}
                {% for error in form.modalidade.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.carga_horaria.label(class="form-label") }}
                {{ form.carga_horaria(class="form-control" + (" is-invalid" if form.carga_horaria.errors else "")) }}
                {% for error in form.carga_horaria.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.setor.label(class="form-label") }}
                {{ form.setor(class="form-control" + (" is-invalid" if form.setor.errors else "")) }}
                {% for error in form.setor.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-12 mb-3">
                {{ form.atividades.label(class="form-label") }}
                {{ form.atividades(class="form-control" + (" is-invalid" if form.atividades.errors else "")) }}
                {% for error in form.atividades.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 form-check mb-3 d-flex align-items-center">
                {{ form.remuneracao(class="form-check-input" + (" is-invalid" if form.remuneracao.errors else "")) }}
                {{ form.remuneracao.label(class="form-check-label ms-2") }}
                {% for error in form.remuneracao.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.valor_remuneracao.label(class="form-label") }}
                {{ form.valor_remuneracao(class="form-control" + (" is-invalid" if form.valor_remuneracao.errors else
                "")) }}
                {% for error in form.valor_remuneracao.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.horario_estagio.label(class="form-label") }}
                {{ form.horario_estagio(class="form-control" + (" is-invalid" if form.horario_estagio.errors else ""))
                }}
                {% for error in form.horario_estagio.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.data_inicio.label(class="form-label") }}
                {{ form.data_inicio(class="form-control" + (" is-invalid" if form.data_inicio.errors else "")) }}
                {% for error in form.data_inicio.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.data_conclusao.label(class="form-label") }}
                {{ form.data_conclusao(class="form-control" + (" is-invalid" if form.data_conclusao.errors else "")) }}
                {% for error in form.data_conclusao.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Status</label>
                <input type="text" class="form-control" value="Aguardando Aprovação" readonly>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row gy-3">
                <div class="col-12 col-md-3 mt-3">
                    <button type="submit" class="btn btn-primary w-100">Salvar Estágio</button>
                </div>

                {% if form.estagio_id > 0 %}
                <!-- First Row (4 Elements) -->
                <div class="col-12 col-md-3 mt-3">
                    <a href="{{ url_for('auto_avaliacao') }}" class="btn btn-primary w-100">Fazer Autoavaliação</a>
                </div>
                <div class="col-12 col-md-3 mt-3">
                    <a href="{{ url_for('listar_atividades_estagio') }}" class="btn btn-primary w-100">Ver Atividades de
                        Estágio</a>
                </div>
                <div class="col-12 col-md-3 mt-3">
                    <a href="{{ url_for('generate_company_pdf', estagio_id=form.estagio_id) }}"
                        class="btn btn-primary w-100">Avaliação Concedente PDF</a>
                </div>

                <!-- Second Row (4 Elements) -->
                <div class="col-12 col-md-3 mt-3">
                    <a href="{{ url_for('generate_professor_pdf', estagio_id=form.estagio_id) }}"
                        class="btn btn-primary w-100">Avaliação Professor PDF</a>
                </div>
                <div class="col-12 col-md-3 mt-3">
                    <a href="{{ url_for('generate_self_evaluation_pdf', estagio_id=form.estagio_id) }}"
                        class="btn btn-primary w-100">Autoavaliação PDF</a>
                </div>
                <div class="col-12 col-md-3 mt-3">
                    <a href="{{ url_for('generate_ata_banca_pdf', estagio_id=form.estagio_id) }}"
                        class="btn btn-primary w-100">Ata da Banca PDF</a>
                </div>
                <div class="col-12 col-md-3 mt-3">
                    <a href="{{ url_for('generate_atividades_estagio_pdf', estagio_id=form.estagio_id) }}"
                        class="btn btn-primary w-100">Acompanhamento PDF</a>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
<script>
    document.getElementById('empresa_id').addEventListener('change', function () {
        const empresaId = this.value;

        fetch(`/get_supervisores/${empresaId}`)
            .then(response => response.json())
            .then(data => {
                const supervisorSelect = document.getElementById('supervisor_id');
                supervisorSelect.innerHTML = '';

                data.supervisores.forEach(function (supervisor) {
                    const option = document.createElement('option');
                    option.value = supervisor.id;
                    option.text = supervisor.nome;
                    supervisorSelect.appendChild(option);
                });

                if (data.supervisores.length > 0) {
                    document.getElementById('supervisor_id').value = data.supervisores[0].id;
                }
            })
            .catch(error => {
                console.error('Erro ao buscar supervisores:', error);
            });
    });
</script>
{% endblock %}