{% extends "base_default.html" %}

{% block content %}
<h2>Redefinir Senha</h2>
<form action="{{ url_for('security.reset_password', token=token) }}" method="POST">
    {{ reset_password_form.hidden_tag() }}
    <p>
        {{ reset_password_form.password.label }}<br>
        {{ reset_password_form.password(class="form-control", size=32) }}
    </p>
    <p>
        {{ reset_password_form.password_confirm.label }}<br>
        {{ reset_password_form.password_confirm(class="form-control", size=32) }}
    </p>
    <p><input type="submit" value="Redefinir Senha" class="btn btn-primary"></p>
</form>
{% endblock %}
