{% extends "base_default.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Bem-vindo à E-Stagio!</h1>
    <h2>Aqui você poderá fazer toda sua papelada de modo simples e rápido. Aproveite para se cadastrar ou fazer login e explorar as funcionalidades!</h2>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-briefcase fa-2x mb-3"></i>
                    <h5 class="card-title">Gerenciamento de Estágios</h5>
                    <p class="card-text">Aqui poderá ser feito todo o gerenciamento do estagio, desde sua criação até seu encerramento.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-user-graduate fa-2x mb-3"></i>
                    <h5 class="card-title">Acompanhamento de Alunos</h5>
                    <p class="card-text">Dentro de nossa plataformas será possível fazer acompanhamento e cadastro das atividades do Estágio  e também seu andamento.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-building fa-2x mb-3"></i>
                    <h5 class="card-title">Empresas Parceiras</h5>
                    <p class="card-text">Empresas e Supervisores podem se cadastrar para assim também acompanhar e avaliar seus estagiários.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 mb-4">
            <a href="{{ url_for('signup_empresa') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-building block-icon"></i>
                <div class="block-text">Cadastrar Empresa</div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{{ url_for('signup_supervisor') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-user-tie block-icon"></i>
                <div class="block-text">Cadastrar Supervisor</div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{{ url_for('signup_professor') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-chalkboard-teacher block-icon"></i>
                <div class="block-text">Cadastrar Professor</div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{{ url_for('signup_aluno') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-user-graduate block-icon"></i>
                <div class="block-text">Cadastrar Aluno</div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <a href="/login" class="btn btn-outline-primary btn-block block">
            <i class="fas fa-sign-in-alt block-icon"></i>
            <div class="block-text">Login</div>
            </a>
        </div>
    </div>
</div>
<style>
    .block {
        height: 150px; /* Altura ajustada para acomodar os ícones e o texto */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: background-color 0.3s;
    }

    .block:hover {
        background-color: #0d6efd;
        color: #fff;
    }

    .block-icon {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .block-text {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #0d6efd;
    }

    h2 {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #0d6efd;
    }

    p {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 30px;
        color: #555;
        line-height: 1.6;
    }

    .navbar-brand a {
        color: #0d6efd;
    }

    .card-body {
        text-align: center;
        color: #0d6efd;
    }

    .col-md-4 {
        margin-bottom: 35px;
    }
</style>
{% endblock %}
