{% extends "base.html" %}
{% block content %}
<!-- signup.html -->
<h2 class="mb-4">Registrar</h2>

<a class="btn btn-secondary" href="{{ url_for('signup') }}">Voltar <-</a>
<h2>Cadastro de Professor</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.nome.label }}<br>
        {{ form.nome(size=32) }}<br>
        {% for error in form.nome.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.cpf.label }}<br>
        {{ form.cpf(size=32) }}<br>
        {% for error in form.cpf.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}
