<!-- templates/admin/cadastro_aluno.html -->
{% extends "base.html" %}
{% block content %}
<h2>Cadastro de Aluno</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-6">
            <p>
                {{ form.nome.label }}<br>
                {{ form.nome(size=32) }}<br>
                {% for error in form.nome.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <div class="col-6">
            <p>
                {{ form.matricula.label }}<br>
                {{ form.matricula(size=32) }}<br>
                {% for error in form.matricula.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <div class="col-6">
            <p>
                {{ form.celular.label }}<br>
                {{ form.celular(size=32) }}<br>
                {% for error in form.celular.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>
                {{ form.cpf.label }}<br>
                {{ form.cpf(size=32) }}<br>
                {% for error in form.cpf.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <div class="col-6">
            <p>
                {{ form.rg.label }}<br>
                {{ form.rg(size=32) }}<br>
                {% for error in form.rg.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="col-6">
            <p>
                {{ form.dob.label }}<br>
                {{ form.dob(type='date') }}<br>
                {% for error in form.dob.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}