<!-- templates/admin/editar_admin.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mb-5">
    <a class="btn btn-secondary mb-3" href="{{ url_for('lista_admin') }}"><i class="fas fa-arrow-left"></i> Voltar</a>
    <h2 class="mb-4 text-center">Editar Admin</h2>
    <form method="POST" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <div class="row g-4">
            <div class="col-md-6 mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3 form-check d-flex align-items-center">
                {{ form.ativo(class="form-check-input me-2" + (" is-invalid" if form.ativo.errors else "")) }}
                {{ form.ativo.label(class="form-check-label") }}
                {% for error in form.ativo.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex w-100 justify-content-center gap-2 mt-3">
            <button type="submit" class="btn btn-success">Atualizar</button>
            <a href="{{ url_for('lista_admin') }}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
