<!-- templates/admin/editar_admin.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Editar Admin</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group d-flex align-items-center">
                    {{ form.ativo.label(class="form-check-label me-2") }}
                    {{ form.ativo(class="form-control" + (" is-invalid" if form.ativo.errors else "")) }}
                    {% for error in form.ativo.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="d-flex w-100 justify-content-center gap-2">
                <button type="submit" class="btn btn-success">Atualizar</button>
                <a href="{{ url_for('lista_admin') }}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}