{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Lista de Supervisores</h2>
    <a href="{{ url_for('cadastro_supervisor') }}" class="btn btn-success mb-3">Adicionar Novo Supervisor</a>
    <table id="supervisoresTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Empresa</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for supervisor in supervisores %}
            <tr>
                <td>{{ supervisor.nome }}</td>
                <td>{{ supervisor.email }}</td>
                <td>{{ supervisor.telefone }}</td>
                <td>{{ supervisor.empresa.nome_empresa }}</td>
                <td>
                    <a href="{{ url_for('editar_supervisor', id=supervisor.id) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">Nenhum supervisor cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<script>
$(document).ready(function() {
    $('#supervisoresTable').DataTable({
        responsive: true,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Nenhum supervisor encontrado",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum supervisor disponível",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "search": "Buscar:",
            "paginate": {
                "first":      "Primeiro",
                "last":       "Último",
                "next":       "Próximo",
                "previous":   "Anterior"
            },
            "emptyTable":     "Nenhum dado disponível na tabela"
        },
        "pageLength": 10
    });
});
</script>
{% endblock %}
