<!-- templates/admin/lista_estagios.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Lista de Estágios</h2>
    <a href="{{ url_for('cadastro_estagio') }}" class="btn btn-success mb-3">Adicionar Novo Estágio</a>
    <table id="estagiosTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Aluno</th>
                <th>Professor</th>
                <th>Supervisor</th>
                <th>Empresa</th>
                <th>Modalidade</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for estagio in estagios %}
            <tr>
                <td>{{ estagio.id }}</td>
                <td>{{ estagio.aluno.nome }}</td>
                <td>{{ estagio.professor.nome }}</td>
                <td>{{ estagio.supervisor.nome }}</td>
                <td>{{ estagio.empresa.nome_empresa }}</td>
                <td>{{ estagio.modalidade }}</td>
                <td>{{ estagio.status | readable_status }}</td>
                <td>
                    <a href="{{ url_for('editar_estagio', id=estagio.id) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7" class="text-center">Nenhum estágio cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script>
$(document).ready(function() {
    $('#estagiosTable').DataTable({
        "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum Estágio encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "search": "Buscar:",
                "paginate": {
                    "first":      "Primeiro",
                    "last":       "Último",
                    "next":       "Próximo",
                    "previous":   "Anterior"
                },
                "loadingRecords": "Carregando...",
                "processing":     "Processando...",
                "emptyTable":     "Nenhuma dado disponível na tabela"
            },
        "pageLength": 10
    });
});
</script>

{% endblock %}
