<!-- templates/admin/lista_alunos.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Lista de Alunos</h2>
    <a href="{{ url_for('cadastro_aluno') }}" class="btn btn-success mb-3">Adicionar Novo Aluno</a>
    <table id="alunosTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.cpf }}</td>
                <td>
                    <a href="{{ url_for('editar_aluno', id=aluno.id) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">Nenhum aluno cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

<script>
$(document).ready(function() {
    $('#alunosTable').DataTable({
        responsive: true,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Nenhum supervisor encontrado",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum supervisor disponível",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "search": "Buscar:",
            "paginate": {
                "first":      "Primeiro",
                "last":       "Último",
                "next":       "Próximo",
                "previous":   "Anterior"
            },
            "emptyTable":     "Nenhum dado disponível na tabela"
        },
        "pageLength": 10
    });
});
</script>

{% endblock %}