<!-- templates/admin/listagem_usuarios_inativos.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Lista de Usuários Inativos</h2>
    <table id="usuariosInativosTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nome de Usuário</th>
                <th>Email</th>
                <th>Função</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.roles[0].name }}</td>
                <td>    
                    <a href="{{ url_for('ativar_usuario', user_id=usuario.id) }}" class="btn btn-success">Ativar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">Nenhum usuário inativo encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

<script>
$(document).ready(function() {
    $('#usuariosInativosTable').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Nenhum usuário encontrado",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum usuário disponível",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Próximo",
                "previous": "Anterior"
            },
            "emptyTable": "Nenhum dado disponível na tabela"
        },
        "pageLength": 10
    });
});
</script>
{% endblock %}
