<!-- templates/admin/cadastro_admin.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mb-5">
    <a class="btn btn-secondary mb-3" href="{{ url_for('index') }}"><i class="fas fa-arrow-left"></i> Voltar</a>
    <h2 class="mb-4 text-center">Cadastro de Admin</h2>
    <form method="POST" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <div class="row g-4">
            <div class="col-md-6 mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else "")) }}
                {% for error in form.password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock %}
