{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Bem-vindo ADMIN!</h1>
    <p>Bem Vindo ao E-Stagio, aqui você poderá fazer toda sua papelada de modo simples e rápido :).</p>

    <div class="row">
        <div class="col-md-6 mb-4">
            <a href="{{ url_for('lista_estagios') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-briefcase block-icon"></i>
                <div class="block-text">Gerenciar estágios com facilidade</div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="{{ url_for('lista_professores') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-chalkboard-teacher block-icon"></i>
                <div class="block-text">Professores cadastrados no sistema</div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="{{ url_for('lista_alunos') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-user-graduate block-icon"></i>
                <div class="block-text">Alunos cadastrados no sistema</div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="{{ url_for('lista_empresas') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-building block-icon"></i>
                <div class="block-text">Empresas parceiras cadastradas aqui</div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="{{ url_for('lista_supervisores') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-user-tie block-icon"></i>
                <div class="block-text">Supervisores responsáveis por estágios</div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="{{ url_for('listar_usuarios_inativos') }}" class="btn btn-outline-primary btn-block block">
                <i class="fas fa-user-clock block-icon"></i>
                <div class="block-text">Verificar usuários recém cadastrados</div>
            </a>
        </div>
    </div>
</div>
<style>
    .block {
        height: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: background-color 0.3s;
    }

    .block:hover {
        background-color: #0d6efd; 
    }

    .block-icon {
        font-size: 40px;
        margin-bottom: 13px;
    }

    .block-text {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #0d6efd; 
    }

    p {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 30px;
        color: #555;
        line-height: 1.6;
    }

    .navbar-brand a{
      color: #0d6efd;
    }
</style>
{% endblock %}
